.admin-container {
  display: flex;
  .admin-sidebar {
    height: 100vh;
    // width: 250px;
    // background-image: url("src/assets/tenko.jpg");
    // background-repeat: no-repeat;
    // background-position: center;
    // background-size: cover;
    .title {
      margin-left: 5px;
      font-size: 20px;
    }
  }

  .admin-content {
    width: 80%;
    .admin-header {
      margin: 5px;
      height: 30px;
    }
    .admin-main {
      height: calc(100vh - 30px);
    }
  }
}
