.homepage {
  .main-content {
    padding: 60px 0;
    button {
      width: 250px;
    }
    .title {
      text-align: center;
    }

    .product {
      text-align: center;
    }

    .sidebar {
      ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        height: 100%;
        list-style: none;
        li {
          font-weight: 500;
          margin-bottom: 15px;
          color: #999;
          position: relative;
          padding-left: 10px;
          border-left: 2px solid #a1a1a1;

          &:hover {
            cursor: pointer;
            color: #e94c1f;
            border-left: 2px solid #e94c1f;
          }
        }
      }

      .active {
        color: #e94c1f;
        font-weight: bold;
        border-left: 2px solid #e94c1f;
      }
    }
    .text-onclick {
      color: #999;
      &:hover {
        cursor: pointer;
        color: #e94c1f;
      }
    }
    .explore-link {
      position: relative;
      font-weight: bold;
      text-decoration: none;
      display: inline-block;
      transition: all 0.3s ease;
      &:hover {
        color: #e94c1f;
        text-decoration: none;
        cursor: pointer;
      }

      &::after {
        content: "→";
        position: absolute;
        opacity: 0;
        transform: translateX(-5px);
        transition: all 0.3s ease;
        margin-left: 8px;
      }

      &:hover::after {
        opacity: 1;
        transform: translateX(0);
      }
    }

    .content {
      h2 {
        font-weight: bold;
        margin-bottom: 15px;
      }

      p {
        color: #888;
        margin-bottom: 30px;
      }

      .skill {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 15px;

        .label {
          flex: 1;
          font-weight: 600;
        }

        .progress {
          flex: 2;
          height: 6px;
          background: #e0e0e0;
          margin: 0 10px;
          position: relative;
          border-radius: 3px;

          .progress-bar {
            height: 100%;
            background: #000;
            border-radius: 3px;
          }
        }

        .value {
          width: 40px;
          text-align: right;
          font-weight: 600;
        }
      }

      .explore {
        margin-top: 30px;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        color: #333;
      }
    }
  }

  .footer-container {
    background-color: black;
    color: white;
    height: 400px;
    margin: 30px 10px;
    .footer-content {
      padding-top: 5rem;
      padding-bottom: 5rem;
      .footer-item {
        .footer-title {
          font-size: calc(1.4rem + 0.3vw);
          color: #e94c1f;
          .subtitle {
            color: white;
            &:hover {
              color: #e94c1f;
            }
          }
        }
        .sitemap-list {
          list-style: none;
          margin: 0;
          padding: 0;
          display: flex;
          flex-wrap: wrap;
          row-gap: 0.5rem;

          li {
            width: 50%;

            a {
              color: #717275;
              text-decoration: none;
              transition: color 0.3s ease;

              &:hover {
                color: #e94c1f;
              }
            }
          }
        }
        .social-icons {
          display: flex;
          gap: 15px;
          .icons {
            &:hover {
              cursor: pointer;
              color: #e94c1f;
            }
          }
        }
        p {
          font-size: calc(0.8rem + 0.3vw);
          color: #717275;
        }
        ul {
          list-style: none;
          margin: 0;
          padding: 0;

          li {
            color: #717275;
            display: block;
            width: 50%;
          }
        }
      }
    }
  }
}

.swiper {
  height: 100vh;
  width: calc(100vw - 20px);
  position: relative;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .slide-content {
    position: absolute;
    bottom: 80px;
    left: 50px;
    color: white;
    z-index: 2;
    max-width: 600px;

    h1 {
      font-size: 48px;
      font-weight: bold;
    }

    p {
      font-size: 26px;
      margin-top: 10px;
    }
  }
  .swiper-pagination {
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 10px;

    .swiper-pagination-bullet {
      width: 12px;
      height: 12px;
      background: rgba(255, 255, 255, 0.4);
      opacity: 1;
      transition: all 0.3s;
    }

    .swiper-pagination-bullet-active {
      background: #fff;
    }
  }
}

.image-wrapper {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
