.homepage {
  background-image: url("src/assets/bg1.jpg");
  height: 90vh;
  .search-container {
    .box {
      width: 100%;
      margin-top: 15px;
    }
  }
  .main-content {
    button {
      width: 250px;
    }
    .title {
      text-align: center;
    }
    .content {
      display: flex;
      justify-content: center;
      gap: 50px;
    }
  }
}
