.task-container {
  margin-left: 40px;
  margin-right: 70px;
  .project-title {
    font-size: 30px;
    font-weight: 600;
  }
  .project-description {
    font-size: 20px;
    margin-top: 20px;
    textarea {
      width: 600px;
      height: 80px;
      resize: none;
    }
  }
  .task-list {
    display: flex;
    justify-content: space-between;
    .l-child {
      background-color: #f4f5f7;
      font-size: 18px;
      width: 300px;
      min-height: 200px;
      .title {
        height: 30%;
        padding: 5px 10px;
        &:hover {
          background-color: #e5e8f0;
        }
      }
      .content {
        height: 70%;
        padding: 5px 10px;
      }
    }
  }
}
